@{
    ViewBag.Title = "About";
}
<h2 style="text-align: center">Storm Technology Ltd.</h2>

<div class="jumbotron">

    <h1 style="text-align: center">About Storm</h1>
    <p style="text-align: center">
        We are one of the most respected business technology consultancies and Microsoft solution partners in Ireland. We specialise in all things to do with Microsoft and we have earned a reputation for building world-class business solutions and for being at the forefront of technology advancement. We are passionate about the needs of our clients and their satisfaction is at the heart of our business. The same is true for how we feel about our people - we are steadfast in our commitment to investing in our employees helping them learn, grow and get real exposure to emerging technologies.
        Our ethos is to coax and encourage our people to innovate, push the boundaries and do things differently. As a result we have created a team of simply remarkable people. People who are inspired about solving problems, using great technologies and designing solutions that make our clients smile.
    </p>
</div>