@{
    ViewBag.Title = "Contact";
}
<h2 style="text-align: center">Storm Technology Ltd.</h2>

<div class="card-deck">
    <div class="card text-white bg-primary col-md-4">
        <div class="card-body">
            <h4 class="card-title" style="text-align: center">Galway Office</h4>
            <div class="card-body">
                <p style="text-align: center">
                    <a>Galway Business Park</a>
                    <br /><a>Upper Newcastle Road</a>
                    <br /><a>Dangan</a>
                    <br /><a>H91 RWF1</a>
                    <br /><a>Galway</a>
                </p>
                <p style="text-align: center">
                    <a>+353 1 416 1226</a>
                </p>
            </div>
        </div>
    </div>

    <div class="card text-white bg-primary col-md-4">
        <div class="card-body">
            <h4 class="card-title" style="text-align: center">Email Us</h4>
            <div>
                <p style="text-align: center">
                    <br />
                    <a>For Accounts Enquiries: finance@storm.ie</a>
                    <br /><a>For Careers Enquiries: careers@storm.ie</a>
                    <br /><a>For General Enquiries: info@storm.ie</a>
                    <br /><a>For Sales Enquiries: sales@storm.ie</a>
                    <br /><a>For Support Enquiries: support@storm.ie</a>
                </p>
            </div>
        </div>
    </div>

    <div class="card text-white bg-primary col-md-4">
        <div class="card-body">
            <h4 class="card-title" style="text-align: center">Dublin Office</h4>
            <div class="card-body">
                <div>
                    <p style="text-align: center">
                        <a>The Capel Building</a>
                        <br /><a>Mary's Abbey</a>
                        <br /><a>Dublin 7</a>
                        <br /><a>D07 FK22</a>
                        <br /><a>Ireland</a>
                    </p>
                    <p style="text-align: center">
                        <a>+353 1 416 1226</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>