@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<section class="slider">
    <ul class="slides">
        <li>
            <img src="~/Content/Img/asset-4.jpg">
            <div class="caption center-align">
                <h3>PDP/HR System</h3>
                <h5 class="light grey-text text-lighten-3">Built using ASP.NET MVC 5</h5>
            </div>
        </li>
        <li>
            <img src="~/Content/Img/asset-1.jpg">
            <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
    </ul>
</section>

<script src="~/Scripts/materialize.min.js"></script>

<script>
    const slider = document.querySelector('.slider')
        M.Slider.init(slider, {
        indicators: false,
        height: 500,
        transition: 500,
        interval: 5000
    });
</script>


